<!DOCTYPE html>
<html {% block html_attributes %}{% endblock %}>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{% block bodyClass %}{% endblock %}" {% block bodyAdditional %}{% endblock %}>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
