{% extends '::base.html.twig' %}


{% block title %}{{ 'app.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/dist/styles/main.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    {% include '::layout/header.html.twig' %}
    {% block precontent %}{% endblock %}

    <div class="container wrapper">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
