{% extends '::layout.html.twig' %}

{% block precontent %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ 'app.title'|trans }}</h1>
            <p>{{ 'app.subtitle'|trans }}</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>{{ 'label.handled_by'|trans }}</th>
                <td>{{ handledBy }}</td>
            </tr>
            <tr>
                <th>{{ 'label.status'|trans }}</th>
                <td>{{ status }}</td>
            </tr>
            <tr>
                <th>{{ 'label.content'|trans }}</th>
                <td>{{ content }}</td>
            </tr>
        </table>
    </div>
{% endblock %}
