<nav class="navbar navbar-inverse navbar-fixed-top header">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('homepage') }}">{{ 'app.title'|trans }}</a>
        </div>
    </div>
</nav>
