body {
    padding-top: 50px;
    padding-bottom: 20px;

    .header {
        .navbar-brand {
            color: @main-color;
        }
    }

    .wrapper {
        padding-top: 50px;
        padding-bottom: 20px;
    }
}
