//------------------------------------
// Path
//------------------------------------
@path-base: '/design/';
@path-image: '@{path-base}images/';
@path-fonts: '@{path-base}fonts/';

@include-path-fonts: 'web/design/fonts/';
@include-path-bootstrap: 'web/bower/bootstrap/less/';
// bootstrap icons font path
@icon-font-path: '/bower/bootstrap/fonts/';

//------------------------------------
// Colors
//------------------------------------
@main-color: #f15922;
@grey: #f2f2f2;
